<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

   
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>View.html</welcome-file>
  </welcome-file-list>
  
    <!-- Servlets -->
  
  <servlet>
    <servlet-name>s</servlet-name>
    <servlet-class>it.hourglass.myTalk.server.model.businesslogic.RPCServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
   </servlet>
  
  <servlet-mapping>
    <servlet-name>s</servlet-name>
    <url-pattern>/mytalk/rpcservice</url-pattern>
</servlet-mapping>

 

</web-app>


